.login-form {
  &:global(.ant-form) {
    :global(.ant-form-item) {
      margin-bottom: 16px;
    }
  }
  &-container {
    width: 433px;
  }
  &-button {
    &:global(.ant-btn-lg) {
      height: 50px;
      padding: 0;
      border-radius: 0;
    }
    &:global(.ant-btn) {
      border: 0;
      box-shadow: none;
      background-color: #000;
      color: #fff;
    }
    &[ant-click-animating-without-extra-node='true']::after {
      animation: none;
    }
  }
  &-item {
    &:global(.ant-form-item) {
      :global(.ant-form-item-explain) {
        padding: 0 14px;
        line-height: 30px;
        font-size: 12px;
        color: #f00;
      }
      :global(.ant-input):focus {
        box-shadow: none;
      }
    }
    &:global(.ant-form-item-has-error) {
      :global(.label-input-container) {
        border-color: #F5222D;
      }
    }
  }
}
