.login-form {
  &:global(.ant-form) {
    :global(.ant-form-item) {
      margin-bottom: 16px;
    }
  }
  &-button {
    &:global(.ant-btn-lg) {
      height: 48px;
      padding: 0;
      border-radius: 0;
    }
    &:global(.ant-btn) {
      border: 0;
      box-shadow: none;
      background-color: #2c2c2c;
      color: #fff;
      font-weight: 800;
    }
    &[ant-click-animating-without-extra-node='true']::after {
      animation: none;
    }
  }
  &-item {
    &:global(.ant-form-item) {
      :global(.ant-form-item-explain) {
        margin-top: 8px;
        line-height: 16px;
        font-size: 12px;
        color: #f04949;
        min-height: auto;
      }
      :global(.ant-input):focus {
        box-shadow: none;
      }
    }
    &:global(.ant-form-item-has-error) {
      :global(.label-input-container) {
        border-color: #f04949;
      }
    }
  }
}
