.label-input-container {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  position: relative;
  transition: border-color 0.5s;
}

.label-input-placeholder {
  line-height: 1;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  z-index: 1;
  font-size: 16px;
  color: #595959;
  transition: transform 0.3s linear;
  transform-origin: left;

  &.top-placeholder {
    transform: translateY(-10px) scale(0.75);
  }
}

.label-input,
.label-input :global(.ant-input) {
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;

  &:focus,
  &:global(.ant-input-affix-wrapper-focused) {
    box-shadow: none;
  }
}

.label-input {
  &.input-ing {
    transform: translateY(10px);
  }

  :global(.ant-select) {
    height: 17px;
    padding-right: 0;

    &:global(.ant-select-single:not(.ant-select-customize-input)
        .ant-select-selector) {
      height: 17px;
      padding-left: 0;
      border: 0;

      :global(.ant-select-selection-search-input) {
        height: 17px;
        position: relative;
        top: -3px;
      }

      :global(.ant-select-selection-search) {
        left: 0;
      }
    }

    &:global(.ant-select-single.ant-select-show-arrow
        .ant-select-selection-item) {
      line-height: 17px;
    }
  }

  .selector-container:global(.ant-select) {
    :global(.ant-select-selector) {
      min-width: 79px;
    }
  }
}
