.select-dial-code-option {
  display: flex;
  align-items: center;

  &.only-flag {
    height: 16px;
  }

  .name,
  .value {
    margin-left: 10px;
  }

  .value.normal {
    color: #aaa;
  }
}

.select-phone-country {
  &:global(.ant-select) {
    width: auto;
  }

  &-input {
    flex: 1;
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
}